<div class="container">
        <div class="tab1 d-flex flex-column ">
            <div class="text-center">
                <img id="img1" src="assets/images/b.png" alt="dadadad">
            </div>
            <div class="text-center">
                <h3>Create an account or login</h3>
            </div>
            <div class="text-center">
                <a routerLink="/register" class="btn btn-large b1">REGISTER</a>
            </div>
            <div class="text-center">
                <a routerLink="/signin" class="btn btn-large b2">LOGIN</a>
            </div>
        </div>
       
</div>